<ul>
    {{#each articles}}
    <div class="card col-lg-4 ">
        <img class="card-img-top img-fluid" src={{art_img}} alt="article">
        <div class="card-body">
            <a href={{link}}>
                <h5 class="card-title">{{headline}}</h5>
            </a>
            <p class="card-text">{{summary}}</p>
            <button class="btn btn-primary" id="saveBtn" data-id={{id}}>Click to save article</button>
        </div>
    </div>
    {{/each}}
</ul>